@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: #091635;
    border-radius: 4px;
}

*::-webkit-scrollbar-track {
    background-color: auto;
}

/* ///////////////// Home page ////////////////////// */

/* background ellipse for hero section in home page  */
.ellipse {
    border-radius: 1177px;
    opacity: 0.6;
    background: var(--Brand-500, #2D6DE9);
    mix-blend-mode: color-dodge;
    filter: blur(150px);
    width: 538px;
    height: 1177px;
    flex-shrink: 0;
    top: -883px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;

}

.ellipse-mobile {
    border-radius: 503px;
    opacity: 0.7;
    background: var(--primary-light, #2D6DE9);
    mix-blend-mode: color-dodge;
    filter: blur(64.12639617919922px);
    width: 238px;
    height: 503px;
    margin: 0 auto;
    position: absolute;
    top: -180px;
    left: 0;
    right: 0;
}


.ellipseSignUpPages {
    background: radial-gradient(44.41% 69.89% at 50% 8.52%, rgba(11, 17, 29, 0.00) 21.16%, #0B111D 99.26%);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 600px;
    margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    .ellipse {
        width: 100%;
    }


    .ellipseSignUpPages {
        width: 100%;
    }
}

.blur-desktop-bg-hero-home {
    border-radius: 191.877px;
    opacity: 0.2;
    background: var(--Blue-300, #84CAFF);
    filter: blur(173.8247528076172px);
    height: 354px;
    width: 947px;
    flex-shrink: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}



.blur-mobile-bg-hero-home {
    border-radius: 114.469px;
    opacity: 0.45;
    background: var(--primary-lightest, #748FC3);
    filter: blur(87.49645233154297px);
    width: 296px;
    height: 221px;
}



/* Utilities classes for input reusable component */
.shadow-input:focus {
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px rgba(45, 109, 233, 0.12);
}

.shadow-input-on-error:focus {
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px rgba(240, 68, 56, 0.24);
}



.bg-transparent {
    background-color: 'transparent';
}



/* border gradient for logos sections (partners) */

.border-gradient-1 {
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(236, 236, 236, 0) 0%, rgba(255, 255, 255, 0.16) 50%, rgba(255, 255, 255, 0) 100%) 1;
}




/* text gradient from functionalities section */

.complete {
    background: linear-gradient(90deg, #40ECDC 46.63%, #511FE8 80.05%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* gradient cards from functionalities section */
.bg-gradient-card {
    cursor: pointer;
    background: linear-gradient(181deg, rgba(255, 255, 255, 0.00) 10.25%, rgba(255, 255, 255, 0.15) 124.14%);
}



.bg-gradient-button-green {
    background: linear-gradient(92deg, rgba(60, 203, 127, 0.90) 19.81%, rgba(250, 196, 21, 0.90), rgba(250, 196, 21, 0.5), rgba(40, 203, 127, 0.5));
    background-size: 200%;
    background-position: left;
    transition: background-position 0.7s;
}


.bg-gradient-button-green:hover {
    background-position: right;
}


.bg-gradient-button-orange {
    background: linear-gradient(92deg, rgb(250, 131, 68) 0%, rgb(246, 61, 104) 50%, rgb(150, 36, 14), rgba(250, 40, 75, 0.9));
    background-size: 200%;
    background-position: left;
    transition: background-position 0.7s;

}

.bg-gradient-button-orange:hover {
    background-position: right;
}


/* background gradient from carousel cards section */

.bg-gradient-carousel {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 350px;
    width: 1000px;
    height: 600px;
    border-radius: 263.5px;
    opacity: 0.17;
    background: var(--Orange-400, #F38744);
    filter: blur(195.6781463623047px);
}

@media screen and (max-width: 1000px) {
    .bg-gradient-carousel {
        top: 400px;
        left: -300px;
        width: 1000px;
        height: 500px;
        border-radius: 274px;
    }
}



/*////////////// CARDS CAROUSEL CSS /////////////////////*/


.embla {
    /* position: absolute; */
    width: 100%;
    background-color: transparent;
    /* margin: auto; */
    --slide-height: 40rem;
    --slide-spacing: 0rem;
    --slide-size: 15%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
    height: 600px;
    align-items: center;
    gap: 50px;
}

.embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    background-color: transparent;
    padding: var(--slide-spacing);

    height: 100%;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.embla__slide:last-child {
    margin-right: 32px;
}


@media (max-width: 768px) {

    .embla__viewport {
        /* width: 100%; */
    }

    /* .embla {
        --slide-size: 40%;
    } */

    .embla__container {
        height: 400px;
        gap: 20px;
    }

    .embla__slide {
        flex: 0 0 60%;
        width: 100%;
        max-height: 500px;
        margin-right: 10px;
    }

    .embla__slide:last-child {
        margin-right: 20px;
    }
}



/*////////////// END OF CARDS CAROUSEL CSS /////////////////////*/



/* text gradient for carousel section */

.bg-gradient-title {
    background: linear-gradient(90deg, #FD2063 47.42%, #FE922C 82.4%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* text gradient for sports categories section */

.bg-gradient-categories-title {
    background: linear-gradient(90deg, #BDB4FE 41.81%, #6938EF 84.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* BG gradient for sports categories section */

.bg-blue-blured {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 278px;
    width: 1072px;
    margin: 0 auto;
    flex-shrink: 0;
    border-radius: 197px;
    opacity: 0.2;
    background: var(--Purple-500, #7A5AF8);
    filter: blur(195.6781463623047px);
}

@media screen and (max-width: 1000px) {
    .bg-blue-blured {
        height: 413px;
        width: 258px;
        top: -50px;
        margin: 0 auto;
        opacity: 0.4;

    }
}


/* text gradient title from trackPerformance Section */

.text-gradient-title {
    background: linear-gradient(90deg, #40ECDC 28.83%, #511FE8 74.26%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.bg-blured-trackPerformanceSection {
    top: 200px;
    left: 0;
    right: -20px;
    position: absolute;
    margin: 0 auto;
    height: 537.462px;
    width: 800px;
    border-radius: 268.731px;
    opacity: 0.25;
    background: var(--Cyan-400, #2CE);
    filter: blur(195.6781463623047px);
}

@media screen and (max-width: 1000px) {
    .bg-blured-trackPerformanceSection {
        top: 100px;
        width: 300px;

        opacity: 0.4;

    }
}




/* text gradient title from multiSensory Section (home page) */


.text-glasses-gradient {
    background: linear-gradient(90deg, #BDB4FE 30.24%, #6938EF 95.56%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-glasses-blured {
    position: absolute;
    top: 20px;
    width: 867px;
    height: 400px;
    border-radius: 256px;
    opacity: 0.5;
    background: var(--primary-lightest, #748FC3);
    filter: blur(195.6781463623047px);

}

@media screen and (max-width: 1000px) {
    .bg-glasses-blured {
        /* width: 356.766px; */
        width: 100%;
        left: 0;
        right: 0;
        height: 165px;
        margin: 0 auto;
        border-radius: 105.343px;
        background: var(--primary-lightest, #748FC3);
        filter: blur(80.52043914794922px);
    }
}


.bg-button-purple {
    background: linear-gradient(92deg, #7A5AF8 0%, #010317 100%);
}

/* ////////////////////////// END OF HOME PAGE ///////////////////////////  */




/*  */



/*  */



/*  */



/*  */



/* /////////////////// Partners Page /////////////////////////////////// */


/* Ellipse for partners page inside hero section */

.ellipse-partner-desktop {
    flex: 0;
    flex-shrink: 0;
    margin: 0 auto;
    border-radius: 1177px;
    opacity: 0.6;
    background: #17B26A;
    filter: blur(150px);
    position: absolute;
    left: 0;
    right: 0;
    top: -830px;
    width: 540px;
    height: 1177px;
}


.ellipse-partner-mobile {
    width: 238px;
    height: 503px;
    flex-shrink: 0;
    border-radius: 503px;
    opacity: 0.6;
    background: #17B26A;
    filter: blur(64.12639617919922px);
    left: 0;
    right: 0;
    top: -181px;
    position: absolute;
    margin: 0 auto;
}

.ellipse-partner-bg-overlay {
    /* width: 1440px; */
    width: 100%;
    height: 600px;
    flex-shrink: 0;
    background: radial-gradient(70.49% 70.49% at 50% 29.51%, rgba(1, 3, 23, 0.00) 0%, #010317 99.26%);
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
}



/* /* Ellipses for carousel inside parnters page/  */


.gradient-carrousel-title {
    background: linear-gradient(90deg, #3CCB7F 17.02%, #FAC415 62.07%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.gradient-progress-bar {
    border-radius: 4px;
    background: linear-gradient(270deg, #3CCB7F 0%, #FAC415 100%);
    box-shadow: 0px 0px 10px 7px rgba(69, 236, 147, 0.24), 0px 0px 8px 1px rgba(255, 255, 255, 0.24);
}

.ellipse-carousel-1 {
    border-radius: 353.814px;
    background: linear-gradient(180deg, #3CCB7F 13.06%, #010317 25.23%);
    filter: blur(195.6781463623047px);
    width: 867px;
    height: 443.441px;
    flex-shrink: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;

}



@media screen and (max-width: 1000px) {

    .ellipse-carousel-1 {
        width: 329.91px;
        height: 215.19px;
        border-radius: 134.632px;
        filter: blur(74.45843505859375px);
    }

}


/* ///////// toggle button pricing partner section /////// */


.toggle-wrapper {
    width: 44px;
    height: 24px;
    padding: 2px;
    border-radius: 12px;
    background: var(--Gradients-Assinaturas-ALL-STAR, linear-gradient(272deg, #F92C5D -0.63%, #FB37AD 99.75%));
}

.toggle-subscription {
    background: var(--Gradients-Assinaturas-MVP, linear-gradient(272deg, #30D89B -0.63%, #24F277 99.75%));
}


.pricing-cards-bg {
    fill: linear-gradient(181deg, #080C2F -13.01%, #010317 147.4%, #010317 147.4%);
    box-shadow: 0px 1.298px 1.298px 0px rgba(45, 109, 233, 0.50) inset;
    border-radius: 20px;
}






/* /////////////////// Creators Page /////////////////////////////////// */


/* Ellipse for creators page inside hero section */

.ellipse-creators-desktop {
    flex: 0;
    flex-shrink: 0;
    margin: 0 auto;
    border-radius: 1177px;
    opacity: 0.3;
    background: #EF6820;
    filter: blur(150px);
    position: absolute;
    left: 0;
    right: 0;
    top: -830px;
    width: 540px;
    height: 1177px;
}


.ellipse-creators-mobile {
    width: 238px;
    height: 503px;
    flex-shrink: 0;
    border-radius: 503px;
    opacity: 0.6;
    background: #EF6820;
    filter: blur(64.12639617919922px);
    left: 0;
    right: 0;
    top: -181px;
    position: absolute;
    margin: 0 auto;
}

.ellipse-creators-bg-overlay {
    /* width: 1440px; */
    width: 100%;
    height: 600px;
    flex-shrink: 0;
    background: radial-gradient(70.49% 70.49% at 50% 29.51%, rgba(1, 3, 23, 0.00) 0%, #010317 99.26%);
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
}


.gradient-creators-title {
    background: linear-gradient(90deg, #EF6820 25.59%, #7A5AF8 55.11%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* ellipse for carousel inside creators page */

.ellipse-creators-carousel {
    border-radius: 353.814px;
    background: linear-gradient(180deg, rgba(239, 104, 32, 0.80) 13.06%, #010317 25.23%);
    filter: blur(195.6781463623047px);
    width: 867px;
    height: 443.441px;
    flex-shrink: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;

}

@media screen and (max-width: 1000px) {

    .ellipse-creators-carousel {
        width: 329.91px;
        height: 215.19px;
        border-radius: 134.632px;
        filter: blur(74.45843505859375px);
    }

}

.gradient-progress-creators-bar {
    border-radius: 4px;
    background: linear-gradient(90deg, #FA7E1E 0%, #FB456F 60%);
    box-shadow: 0px 0px 10px 7px rgba(239, 104, 32, 0.24), 0px 0px 8px 1px rgba(255, 255, 255, 0.24);
}


/* toggle pricing inside creators and partners page */


.toggle-creators-pricing-wrapper {
    width: 44px;
    height: 24px;
    padding: 2px;
    border-radius: 12px;
}


/* /////// foreigner form //////// */

.rotate-hand {
    animation: handMove 2s infinite;
}

@keyframes handMove {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(0deg);
    }
}